.ing-card {
    background-color: #88C6F0;
    cursor: pointer;
}
.ing-card:hover {
    background-color: #5AA8DD;
}
.alerta-ok {
    color: green;
}
.alerta-error {
    color: red;
}
a {
    text-decoration: none;
}